<div class="gray">
    <div class="space pad-top-50"></div>
    <div class="container">
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bubble">
                <h2>Resend confirmation instructions</h2>
                <div class="line"></div>

                <div class="content">
                    <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="field">
                        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Resend confirmation instructions" %>
                    </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>
