<head>
    <title>Cameron Cabo | New Account</title>
</head>

<div class="gray full-height">
    <div class="space pad-top-50"></div>
    <div class="container">
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bubble">
                <h2 class="bubble-title">Sign up</h2>
                <div class="line"></div>
                <div class="content">

                    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="field">
                        <%= f.email_field :email, autofocus: true, required: true %>
                    </div>

                    <div class="field">
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %>
                            characters minimum)</em>
                        <% end %><br/>
                        <%= f.password_field :password, autocomplete: "off", required: true %>
                    </div>

                    <div class="field">
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>

                    <%= button_tag(type: 'submit', class: "btn btn-primary marg-top-25") do %>
                        Sign up
                    <% end %>
                    <% end %>

                    <div class="space"></div>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>
