<%= bootstrap_form_for @article, html: { multipart: true } do |f| %>
  <% if @article.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
      <%= f.text_field :title, placeholder: "Pick your title...", required: true %>
  </p>

  <p>
      <%= f.text_area :text, class: "no-scroll animate min-30", placeholder: "Write your article here...", required: true %>
  </p>

  <p>
      <%= f.text_field :tag_list, label: "Tags (separated by commas)", value: @article.tag_list.join(", "), placeholder: "Categorize your piece with tags..." %>
  </p>

  <p>
      <%= f.file_field :image %>
  </p>

  <div class="space"></div>

  <p>
      <%= f.submit "Submit Article", class: "btn btn-primary" %>
  </p>
  <script>
      $('textarea').autogrow({
          vertical: true,
          horizontal: false
      });
  </script>
<% end %>
