<head>
    <title>Cameron Cabo | Blog</title>
    <meta name="description" content="My personal blog where I talk about my thoughts, projects, and interests.">
</head>

<div class="bg pad-top-25 pad-bot-0 border-bot" id="blog">
    <div class="container">
        <div class="space"></div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                <h1 class="title pad-bot-25">Welcome to my blog.</h1>
                <p class="pitch pad-bot-50">
                    Here I write about my thoughts, projects, and interests. Please read, enjoy, and, if you want, give your input by <%= link_to 'reaching out', new_contact_path %> or leaving a comment.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container serif">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <div class="space"></div>

            <% if params[:tag] %>
            <h2 class="title sans">Listing articles tagged with "<%=params[:tag]%>"</h2>
        <% else %>
            <h2 class="title sans">Listing all articles</h2>
            <% end %>

            <% if current_admin %>
            <%= link_to new_article_path do %>
            <button class="btn btn-outline-primary btn-sm btn-right">New article</button>
            <% end %>
            <% end %>

            <% @articles.each do |article| %>
                <div class="line"></div>
                <% if not article.image.nil? and not article.image_file_name.nil? %>
                    <%= image_tag article.image.url(:medium), class: 'img-fluid pad-bot-25' %>
                <% end %>
                <h3 class="sans inline"><%= link_to article.title, article %></h3>
                <p class="time sans inline float-right"><%= time_ago_in_words(article.created_at) %>
                    ago</p>
                <p>
                    <% if article.text %>
                        <% if article.text.length > 100 %>
                            <%= article.text[0...100] + '...' %>
                            <%= link_to article do %>
                                <i class="time">see full post.</i>
                            <% end %>
                        <% else %>
                            <%= article.text %>
                            <%= link_to article do %>
                                <i class="time"> See full post.</i>
                            <% end %>
                        <% end %>
                    <% end %>
                </p>
                <div class="empty-spacer"></div>
                <% if article.tag_list %>
                    <p>
                        <% article.tag_list.each do |t| %>
                            <%= link_to tag_path(t) do %>
                                <button class="btn btn-outline-primary btn-sm tag"><%= t %></button>
                            <% end %>
                        <% end %>
                    </p>
                <% end %>
            <% end %>
            <div class="line"></div>

            <div class="space"></div>

            <% if params[:tag] %>
                <%= link_to articles_path do %>
                    <button class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to all articles
                    </button>
                <% end %>
            <% else %>
                <%= link_to root_path do %>
                    <button class="btn btn-outline-primary btn-sm marg-bot-25">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    &nbsp;Back to home</button>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="space"></div>
