<head>
    <% title 'Cameron Cabo | Blog' %>
    <% description "My personal blog where I talk about my thoughts, projects, and interests." %>
    <% keywords "blog,thoughts,projects,code,Cameron Cabo,M&T,Jerome Fisher Program,cameroncabo,upenn,penn,web developer,Cameron,Cabo" %>
</head>

<div class="bg pad-top-25 pad-bot-0 border-bot" id="blog">
    <div class="container">
        <div class="space"></div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                <h1 class="title pad-bot-25">Welcome to my blog.</h1>
                <p class="pitch pad-bot-50">
                    Here I write about my thoughts, projects, and interests. Please read, enjoy, and, if you want, give your input by <%= link_to 'reaching out', new_contact_path %> or leaving a comment.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container serif">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <div class="space"></div>

            <% if params[:tag] %>
              <h2 class="title sans">Listing articles tagged with "<%=params[:tag]%>"</h2>
              <div class="line"></div>
            <% end %>

            <% if current_admin %>
              <%= link_to new_article_path do %>
                <button class="btn btn-primary marg-bot-1">
                  <i class="fa fa-text"></i> &nbps;New article
                </button>
              <% end %>
            <% end %>

            <% @articles.each do |article| %>
              <%= render article %>
            <% end %>

            <div class="space-1"></div>

            <% if params[:tag] %>
                <%= link_to articles_path do %>
                    <button class="btn btn-primary">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to all articles
                    </button>
                <% end %>
            <% else %>
                <%= link_to root_path do %>
                    <button class="btn btn-white">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to home
                    </button>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="space"></div>
<div class="space"></div>
