<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <% if params[:tag] %>
                <h1 class="title">Listing articles tagged with "<%=params[:tag]%>"</h1>
            <% else %>
                <h1 class="title">Listing Articles</h1>
            <% end %>

            <% if current_admin %>
                <%= link_to new_article_path do %>
                    <button class="btn btn-outline-primary btn-sm btn-right">New article</button>
                <% end %>
            <% end %>

            <% @articles.each do |article| %>
                <div class="line"></div>
                <% if not article.image.nil? and not article.image_file_name.nil? %>
                    <%= image_tag article.image.url(:medium), class: 'img-fluid pad-bot-25' %>
                <% end %>
                <h3><%= link_to article.title, article_path(article) %></h3>
                <p class="time"><%= time_ago_in_words(article.created_at) %> ago</p>
                <% if article.tag_list %>
                    <p><strong>Tags: &nbsp;</strong>
                    <% article.tag_list.each do |t| %>
                        <%= link_to tag_path(t) do %>
                            <button class="btn btn-outline-primary btn-sm tag"><%= t %></button>
                        <% end %>
                    <% end %>
                    </p>
                <% end %>
                <p><%= article.text[0...100] + '...' %></p>
            <% end %>

            <% if params[:tag] %>
                <%= link_to articles_path do %>
                    <button class="btn btn-outline-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to all articles</button>
                <% end %>
            <% else %>
                <%= link_to root_path do %>
                    <button class="btn btn-outline-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to home</button>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
