<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title">Listing articles</h1>

            <% @articles.each do |article| %>
                <div class="line"></div>
                <% if not article.image.nil? and not article.image_file_name.nil? %>
                    <%= image_tag article.image.url(:medium), class: 'img-fluid' %>
                <% end %>
                <h3><%= link_to article.title, article_path(article) %></h3>
                <p class="time"><%= time_ago_in_words(article.created_at) %> ago</p>
                <% if @article.tag_list %>
                    <p><strong>Tags: &nbsp;</strong>
                    <% @article.tag_list.each do |t| %>
                        <%= link_to tag_path(t) do %>
                            <button class="btn btn-outline-primary btn-sm tag"><%= t %></button>
                        <% end %>
                    <% end %>
                    </p>
                <% end %>
                <p><%= article.text[0...100] + '...' %></p>
            <% end %>

            <% if current_admin %>
                <%= link_to new_article_path do %>
                    <button type="button" class="btn btn-secondary">New Article</button>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
