<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <div class="space"></div>

            <% if not @article.image.nil? and not @article.image_file_name.nil? %>
                <%= image_tag @article.image.url(:large), class: 'img-fluid' %>
            <% end %>

            <div class="space"></div>

            <h1 class="title">
                <%= @article.title %>
            </h1>

            <% if admin_signed_in? %>
                <% if @article.admin.nil? or current_admin.id == @article.admin.id %>
                        <div class="buttons">
                        <%= link_to edit_article_path(@article) do %>
                            <button class="btn btn-sm btn-outline-primary">Edit</button>
                        <% end %>
                        <%= link_to article_path(@article),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } do %>
                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
            <p class="time"><%= time_ago_in_words(@article.created_at) %> ago</p>
            <% if @article.tag_list %>
                <p><strong>Tags: &nbsp;</strong>
                <% @article.tag_list.each do |t| %>
                    <%= link_to tag_path(t) do %>
                        <button class="btn btn-outline-primary btn-sm tag"><%= t %></button>
                    <% end %>
                <% end %>
                </p>
            <% end %>
            <div class="line"></div>

            <% @components = @article.text.split(/\n+/) %>
            <% code_enabled = false %>
        <% @components.each do |comp| %><% if comp.start_with?('[IMAGE]') %><% comp.slice! '[IMAGE]' %><img src="<%= comp %>" class="img-fluid"><% elsif comp.start_with?('[CODE]') %><% comp.slice! '[CODE]' %>
<% code_enabled = true %><%=comp.html_safe%><% elsif code_enabled %><% if comp.include? "</pre>" %><% code_enabled = false %><%=comp.html_safe%><% else %><%=comp%>
    <% end %>
<% else %>
<p>
    <%= comp %>
</p>
<% end %>
<% end %>

<h3>Comments</h3>
<div class="line"></div>

<% if @article.comments %>
    <div id="comments_<%= @article.id %>">
        <%= render @article.comments, article: @article %>
    </div>
<% else %>
    <p><i>There are no comments on this post yet. Leave one below!</i></p>
<% end %>
            <div class="space"></div>
            <h3>Leave a comment</h3>
            <div class="line"></div>
            <%= bootstrap_form_for([@article, @article.comments.new], remote: true) do |f| %>
                <p><%= f.text_field :name, placeholder: 'Your name' %></p>
                <p><%= f.text_area :content, placeholder: 'Add a comment...' %></p>
                <p><%= f.submit %></p>
            <% end %>

            <br>
            <%= link_to articles_path do %>
                <button class="btn btn-outline-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to all articles</button>
            <% end %>
        </div>
    </div>
</div>
