<% if @article %>
<head>
    <% title @article.title %>
    <% description "#{@article.text[0..160]}..." %>
    <% keywords "#{@article.tag_list.join(',')},#{@article.title.gsub(/\s/,'')},Cameron Cabo,Penn,M&T,Jerome Fisher Program,cameroncabo,upenn,penn,web developer,Cameron,Cabo" %>
    <% image "#{image_url @article.image}" unless @article.image.nil? %>
</head>

<div class="container serif">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="space"></div>

            <% if not @article.image.nil? and not @article.image_file_name.nil? %>
                <%= image_tag @article.image.url(:large), class: 'img-fluid' %>
            <% end %>

            <div class="space"></div>

            <h1 class="title sans">
                <%= @article.title %>
            </h1>

            <% if admin_signed_in? %>
                <% if @article.admin.nil? or current_admin.id == @article.admin.id %>
                        <div class="buttons-right">
                        <%= link_to edit_article_path(@article) do %>
                            <button class="btn btn-sm btn-outline-primary">Edit</button>
                        <% end %>
                        <%= link_to article_path(@article),
                                  method: :delete,
                                  data: { confirm: 'Are you sure? The article will be permanantly deleted.' } do %>
                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
            <div class="empty-spacer"></div>
            <p class="time inline sans"><%= time_ago_in_words(@article.created_at) %> ago</p>
            <% if @article.tag_list %>
                <p class="inline tags">
                    <% @article.tag_list.each do |t| %>
                        <%= link_to tag_path(t) do %>
                            <button class="btn btn-outline-primary btn-sm tag"><%= t %></button>
                        <% end %>
                    <% end %>
                </p>
            <% end %>
            <div class="line marg-top-0"></div>

<div class="article-wrapper">
            <% components = @article.text.split(/\n+/) %>
            <% code_enabled = false %>
        <% components.each do |comp| %><% if comp.start_with?('[IMAGE]') %><% comp.slice! '[IMAGE]' %><img src="<%= comp %>" class="img-fluid"><% elsif comp.start_with?('[CODE]') %><% comp.slice! '[CODE]' %>
<% code_enabled = true %><%=comp.html_safe%><% elsif code_enabled %><% if comp.include? "</pre>" %><% code_enabled = false %><%=comp.html_safe%><% else %><%=comp%>
    <% end %>
<% elsif comp.start_with?('### ') %>
    <% comp.slice! ('### ') %>
    <h5><strong><%=comp%></strong></h5>
<% elsif comp.start_with?('## ') %>
    <% comp.slice! ('## ') %>
    <h3><strong><%=comp%></strong></h3>
<% elsif comp.start_with?('# ') %>
    <% comp.slice! ('# ') %>
    <h2><strong><%=comp%></strong></h2>
<% elsif comp.start_with?('[QUOTE]') %>
    <% comp.slice! ('[QUOTE]') %>
    <div class="quote">
        <%= comp.html_safe %>
    </div>
<% elsif comp.start_with?('[LINE]') %>
    <div class="line"></div>
<% elsif comp.start_with?('[DASH]') %>
    <div class="col-2 push-5 dash"></div>
<% elsif comp.start_with?('[SPACE]') %>
    <div class="space"></div>
<% elsif comp.start_with?('[HALF-SPACE]') %>
    <div class="half-space"></div>
<% elsif comp.start_with?('[CAPTION]') %>
    <% comp.slice! ('[CAPTION]') %>
    <div class="caption"><%= comp %></div>
<% else %>
<p>
    <!-- HTML Safe to allow for links, styling -->
    <%= comp.html_safe %>
</p>
<% end %>
<% end %>
</div>

<div class="space"></div>
<div class="space"></div>

        </div>
        <!-- close col -->
    </div>
    <!-- close row -->
</div>
<!-- close container -->

<% else %>
<!-- if there is no article found -->
  <head>
    <% title 'Cameron Cabo | Article Not Found' %>
    <% description "This article does not exist." %>
  </head>

  <div class="container">
    <div class="row">
      <div class="space-2"></div>
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="marg-bot-1">Article not found, oh man!</h2>
        <p>
          Seems like this the article that you are looking for does not exist. If you think this is a mistake, please <%= link_to 'contact me', new_contact_path %> with a description of what happened.
        </p>
        <div class="space-2"></div>
        <%= link_to 'Back to all articles', articles_path, class: 'btn btn-primary' %>
        <div class="space-4"></div>
      </div>
    </div>
  </div>
<% end %>


<div class="gray">
  <div class="space-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
          <% if @previous %>
            <div class="col-12 col-md-6">
              <%= link_to @previous do %>
                <div class="white marg-bot-1 other">
                  <% if not @previous.image.nil? and not @previous.image_file_name.nil? %>
                    <%= image_tag @previous.image.url(:medium), class: 'img-fluid full-width' %>
                  <% end %>
                  <div class="pad-1">
                    <p class="description">
                      Previous article
                    </p>
                    <h2 class="sans">
                      <%= @previous.title %>
                    </h2>
                    <h3 class="serif">
                      <%= @previous.text[0..100] + '...' %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="col-12 col-md-6">
              <%= link_to articles_path do %>
                <div class="other white marg-bot-1">
                  <div class="pad-1">
                    <p class="description">
                      Keep reading
                    </p>
                    <h2 class="sans title smaller">
                      Back to all articles
                    </h2>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @next %>
            <div class="col-12 col-md-6">
              <%= link_to @next do %>
                <div class="other white marg-bot-1">
                  <% if not @next.image.nil? and not @next.image_file_name.nil? %>
                    <%= image_tag @next.image.url(:medium), class: 'img-fluid full-width' %>
                  <% end %>
                  <div class="pad-1">
                    <p class="description">
                      Next article
                    </p>
                    <h2 class="sans">
                      <%= @next.title %>
                    </h2>
                    <h3 class="serif">
                      <%= @next.text[0..100] + "..." %>
                    </h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- closing row around other articles -->
      </div>
      <!-- close col -->
    </div>
    <!-- close row -->

    <div class="space-2"></div>

    <% if @article %>
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <!-- DISQUS -->
          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

            var disqus_config = function () {
            this.page.url = '<%= request.original_url %>';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '<%= @article.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://cameron-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    <% end %>
    <!-- end logic checking for article for disqus -->
  </div>
  <!-- close container -->

  <div class="space-4"></div>
</div>
<!-- close gray -->

<script>
    $(document).ready(function() {
        $('#show-all').click(function() {
            $(this).hide(200);
            $('#hidden_comments').slideDown(200);
        });
    });

    $('textarea').autogrow({
        vertical: true,
        horizontal: false
    });
</script>
