<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <% if !@article.image.nil? %>
                <%= image_tag @article.image.url(:large), class: 'img-fluid' %>
            <% end %>

            <h1>
                <%= @article.title %>
            </h1>

            <% if admin_signed_in? %>
                <% if @article.admin.nil? or current_admin.id == @article.admin.id %>
                    <%= link_to 'Edit', edit_article_path(@article) %> |
                    <%= link_to 'Delete', article_path(@article),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% end %>

            <p>
                <i><%= @article.created_at.strftime("%B %e, %y") %></i>
            </p>

            <p>
                <%= @article.text %>
            </p>

            <br>
            <%= link_to articles_path do %>
                <button type="button" class="btn btn-secondary">Back</button>
            <% end %>
        </div>
    </div>
</div>
