<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <% if not @article.image.nil? and not @article.image_file_name.nil? %>
                <%= image_tag @article.image.url(:large), class: 'img-fluid' %>
            <% end %>

            <h1 class="title">
                <%= @article.title %>
            </h1>

            <% if admin_signed_in? %>
                <% if @article.admin.nil? or current_admin.id == @article.admin.id %>
                    <%= link_to 'Edit', edit_article_path(@article) %> |
                    <%= link_to 'Delete', article_path(@article),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% end %>

            <p class="time">Submitted <%= time_ago_in_words(@article.created_at) %> ago</p>

            <% @components = @article.text.split(/\n+/) %>
            <% code_enabled = false %>
        <% @components.each do |comp| %><% if comp.start_with?('[IMAGE]') %><% comp.slice! '[IMAGE]' %><img src="<%= comp %>" class="img-fluid"><% elsif comp.start_with?('[CODE]') %><% comp.slice! '[CODE]' %>
<% code_enabled = true %><%=comp.html_safe%><% elsif code_enabled %><% if comp.include? "</pre>" %><% code_enabled = false %><%=comp.html_safe%><% else %><%=comp%>
    <% end %>
<% else %>
<p>
    <%= comp %>
</p>
<% end %>
<% end %>

<h3>Comments</h3>
<div class="line"></div>

<% if @article.comments %>
    <% @article.comments.each do |comment| %>
        <p><strong><%= comment.name %></strong>
        <% if current_admin %>
            <%= link_to article_comment_path(@article, comment), method: :delete do %>
                <button class="btn btn-sm btn-outline-danger">Delete Comment</button>
            <% end %>
        <% end %>
        <p><%= comment.content %>
    <% end %>
<% end %>

            <%= bootstrap_form_for [@article, @article.comments.new] do |f| %>
                <p><%= f.text_field :name, placeholder: 'Your name' %></p>
                <p><%= f.text_area :content, placeholder: 'Add a comment...' %></p>
                <p><%= f.submit %></p>
            <% end %>

            <br>
            <%= link_to articles_path do %>
                <button type="button" class="btn btn-secondary">Back</button>
            <% end %>
        </div>
    </div>
</div>
