<!-- footer -->
    <footer id="footer">
        <div class="back-to-top back-to-top-fixed" id="back">
            <a class="scroll" href="#start">
                <h3>
                    <span class="no-display-mobile">Back to top &nbsp;</span>
                    <i class="fa fa-angle-double-up"></i>
                </h3>
            </a>
        </div>

        <div class="footer-nav">
            <ul class="links">
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= articles_path %>">Blog</a></li>
                <li><a href="<%= freelancing_path %>">Freelancing</a></li>
                <li><a href="<%= projects_path %>">Projects</a></li>
                <li><a href="<%= art_design_path %>">Art/Design</a></li>
                <li><a href="<%= new_contact_path %>">Contact</a></li>
            </ul>
            <ul class="social">
                <a href="https://www.facebook.com/cam.cabo" title="facebook @cam.cabo"><li class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="https://github.com/ccabo1" title="github @ccabo1"><li class="icon"><i class="fa fa-github" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="https://linkedin.com/in/cameroncabo" title="linkedin @cameroncabo"><li class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="https://instagram.com/c.cabo" title="instagram @c.cabo"><li class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="mailto:ccabo@wharton.upenn.edu" title="email ccabo@wharton.upenn.edu"><li class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></li></a>
            </ul>
        </div>
        <div class="footer-line"></div>
        <p>
            <a href="http://cameroncabo.com/" target="_blank">Cameron Cabo</a> &copy; 2017, all rights reserved.<br> Made with &hearts; in Los Angeles.
        </p>
    </footer>
    <div class="footer-bottom">
    </div>
