<head>
    <title>Cameron Cabo | Freelancing</title>
    <meta name="description" content="Let's build something together. I'm a freelance web developer passionate for beautiful, well-planned, well-built, and well-used websites and web applications.">
</head>

<div class="background-wrapper no-pad">
    <div class="navbar-space gray"></div>
    <div class="space gray"></div>
    <div class="gray" id="background"></div>
    <div class="gray h-40 full-width curve no-pad"></div>
</div>
<div class="space"></div>
<div class="container pad-top-25">
    <!-- browser -->
    <div class="row">
        <div class="container">
            <div class="col-12">
                <div class="browser-top">
                    <div class="icons">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div>
                    <div class="search-bar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="circles">
                        <div class="circle-wrapper">
                            <div class="circle" id="green"></div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="yellow"></div>
                        </div>
                        <div class="circle-wrapper">
                            <div class="circle" id="red"></div>
                        </div>
                    </div>
                </div>
                <div class="browser-wrapper">
                    <div class="browser">
                        <h1 class="title">Let's build something.</h1>
                        <p class="bigger">
                            I'm a web developer passionate for beautiful, well-planned, well-built, and well-used products. Whatever you are imagining, drawing up, building, or growing, I'd love to hear about it. Scroll through my work and take the time to
                            <%= link_to 'reach out', new_contact_path %>&mdash;it can go a long way.
                        </p>
                        <p class="bigger">
                            Learn more about my freelancing process via the details provided below.
                        </p>
                        <div class="buttons">
                            <%= link_to projects_path do %>
                            <button class="btn btn-outline-primary">See what I've made</button>
                            <% end %>
                            <%= link_to new_contact_path do %>
                            <button class="btn btn-outline-primary">Reach out</button>
                            <% end %>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <!-- cards -->
            <div class="row no-pad cards">
                <!-- your timeline -->
                <div class="col-12 col-lg-4 pad-all-25">
                    <div class="card no-border shade-hover">
                        <div class="card-block">
                            <%= image_tag 'timeline.svg', class: 'img-fluid round' %>
                            <p class="pad-top-25">
                                <strong>Your timeline, your vision</strong>
                            </p>
                            <p>
                                Completely personalized development to your budget, time-frame, and specifications. Be as involved in the development process as you need.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- full-process development -->
                <div class="col-12 col-lg-4 pad-all-25">
                    <div class="card no-border shade-hover">
                        <div class="card-block">
                            <%= image_tag 'process.svg', class: 'img-fluid round' %>
                            <p class="pad-top-25">
                                <strong>Full-process development</strong>
                            </p>
                            <p>I'll work from drafting to long-term, iterative implementation. I'll refine the site until it is optimized to your consumers and desires.</p>
                        </div>
                    </div>
                </div>
                <!-- cross-platform -->
                <div class="col-12 col-lg-4 pad-all-25">
                    <div class="card no-border shade-hover">
                        <div class="card-block">
                            <%= image_tag 'crossplatform.svg', class: 'img-fluid round' %>
                            <p class="pad-top-25">
                                <strong>Cross-platform software</strong>
                            </p>
                            <p>Sites built for diverse users across many use cases. Get the most out of each visit with mobile first development and responsively built software.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="container pad-top-50 pad-bot-50">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <!-- what I can make -->
            <div class="row">
                <div class="col-6 push-3 col-md-3 push-md-0">
                    <%= image_tag 'gear.svg', class: 'img-fluid img-circ' %>
                </div>
                <div class="col-12 col-md-9">
                    <h2 class="pad-bot-25">What I can make</h2>
                    <p>
                        Here's a list of project types I have experience making:
                    </p>
                    <ul>
                        <li>Landing pages and company websites</li>
                        <li>Personal websites (single and multi-page)</li>
                        <li>Blogs and other content-serving mediums</li>
                        <li>Social platforms and other connection-based platforms</li>
                        <li>Organization and information based web applications</li>
                    </ul>
                    <p>
                        Have something else in mind? <%= link_to 'Contact me', new_contact_path %> and we can decide the best path to take.
                    </p>
                </div>
            </div>
            <div class="line marg-top-50 marg-bot-50"></div>
            <!-- payment -->
            <div class="row">
                <div class="col-6 push-6 col-md-3 push-md-9">
                    <%= image_tag 'money.svg', class: 'img-fluid img-circ' %>
                </div>
                <div class="col-12 col-md-9 pull-md-3">
                    <h2 class="pad-bot-25">Payment</h2>
                    <p>
                        The amount you pay is a low, negotiable hourly rate paid via a secure client (most often
                        <a href="https://paypal.com/" target="_blank">Paypal</a>). Further, you only pay for the work that I put directly into product: hours spent on learning and preliminary research are on me.
                    </p>
                    <p>
                        If you're dissatisfied with the product in any way, I will work to resolve the problem. In exceptional cases, you will be refunded or exempted from paying.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<div class="space"></div>

<script type="text/javascript">
    var size_bg = function () {
        var h = $('.cards').offset().top;
        console.log("Offset of cards: " + h);
        h -= $('.curve').height() * 0.5;
        console.log("New height: " + h);
        $('#background').height(h);
    }

    $(document).ready(function() {
        size_bg()
    });
    $(window).resize(function() {
        size_bg()
    });
</script>
