<div class="container bg pad-top-25 pad-bot-100" id="landscape">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Hi! I'm Cameron.</h1>
            <p class="pitch pad-bot-50">I'm a driven learner, freelance web developer, and product builder&mdash; passionate for entrepreneurship, user experience, analytics, and marketing.
                <br><br>
                I study computer science, business analytics, and management of entrepreneurship in the Jerome Fisher Program at the University of Pennsylvania and, when not at school, live in Los Angeles.
            </p>
            <div class="buttons">
                <%= link_to projects_path do %>
                <button class="btn btn-outline-primary">View my projects</button>
                <% end %>
                <%= link_to articles_path do %>
                <button class="btn btn-outline-primary">View my blog</button>
                <% end %>
                <%= link_to contact_path do %>
                <button class="btn btn-outline-primary">Contact me</button>
                <% end %>
            </div>
        </div>
    </div>
</div>

<nav class="nav-sub">
    <div class="nav-wrapper">
        <a href="#">Education</a>
        <a href="#">Technologies</a>
        <a href="#">Experience</a>
        <a href="#">Extracurriculars</a>
    </div>
</nav>

<div class="gray">
    <div class="space pad-top-50"></div>
    <div class="container">
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 bubble">
                <h2>Education</h2>
                <div class="line"></div>
                <div class="content">
                    <!-- upenn -->
                    <div class="row no-pad">
                        <div class="col-3">
                            <%= image_tag "penn.png", class: "img-fluid" %>
                        </div>
                        <div class="col-9">
                            <h4>University of Pennsylvania - Jerome Fisher Program in Mangement and Technology</h4>
                            <p><i>3.95 GPA. 2016-2020.</i></p>
                            <p>Pursuing a Bachelor of Science in Engineering in Computer Science from the School of Engineering and Applied Sciences and a Bachelors of Science in Economics in Business Analytics and Management of Tech Entrepreneurship from the Wharton School of Business.</p>
                        </div>
                    </div>

                    <div class="line"></div>
                    <!-- hw -->
                    <div class="row no-pad">
                        <div class="col-3">
                            <%= image_tag "hw.png", class: "img-fluid" %>
                        </div>
                        <div class="col-9">
                            <h4>Harvard-Westlake School</h4>
                            <p><i>3.94 GPA. 2013-2016.</i></p>
                            <p>Graduated Cum Laude (Highest Honors) top three in the class. Leader in entrepreneurship, ethics, and current events clubs on campus.</p>
                        </div>
                    </div>

                    <div class="line"></div>
                    <!-- UCLA -->
                    <div class="row no-pad">
                        <div class="col-3">
                            <%= image_tag "ucla.jpg", class: "img-fluid" %>
                        </div>
                        <div class="col-9">
                            <h4>University of California, Los Angeles: SciArt NanoLab</h4>
                            <p><i>Summer 2015.</i></p>
                            <p>Interdisciplinary summer course focusing on utilizing art and design to solve issues in modern nanoscience and computing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 bubble">
                <h2>Technologies</h2>
                <div class="line"></div>
                <div class="content"></div>
            </div>
        </div>
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 bubble">
                <h2>Experience</h2>
                <div class="line"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
