<head>
    <title>Cameron Cabo | Projects</title>
    <meta name="description" content="I learn best through buidling and I also enjoy the building process. Through my projects I explore new languages, refine my skills, and create.">
</head>

<div class="container bg pad-top-25 pad-bot-100 border-bot" id="projects">
    <div class="space"></div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Projects are how I grow and learn.</h1>
            <p class="pitch pad-bot-25">
                We learn the most through directly applying the things we learn. Thus, I'm a strong proponent of taking on projects of all kinds, regardless of professional applications, because they are avenues to tangibly solidify skills.
            </p>
            <div class="buttons">
                <%= link_to root_path do %>
                <button class="btn btn-outline-primary">Here's what I know</button>
                <% end %>
                <%= link_to articles_path do %>
                <button class="btn btn-outline-primary">Read my blog posts</button>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="space no-display-mobile"></div>
<div class="space"></div>

<div class="projects-container">
    <div class="container">
        <!-- personal blog -->
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 project" id="project-blog">
                <div class="ss-wrapper">
                    <div class="desktop">
                        <div class="desktop-circles">
                            <div class="circle green"></div>
                            <div class="circle yellow"></div>
                            <div class="circle red"></div>
                        </div>
                        <div class="ss">
                            <%= image_tag 'projects/blogweb.PNG' %>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="mobile-top">
                            <div class="cam"></div>
                            <div class="speaker"></div>
                        </div>
                        <div class="ss">
                            <%= image_tag 'projects/blogmobile.PNG' %>
                        </div>
                        <div class="home-wrapper">
                            <div class="home"></div>
                        </div>
                    </div>
                </div>

                <h2 class="title full-width">
                    Personal website and blog
                </h2>
                <p>
                    Personal site created to communicate who I am, fascilitate more outreach, and display my writing, projects, and work.
                </p>
                <p>
                    <strong>Technologies:</strong>
                    Rails5, Ruby, Javascript (jQuery), HTML5, CSS3 (SCSS), AWS S3, Heroku, SendGrid.
                </p>
                <div class="buttons pad-top-25">
                    <%= link_to Article.first do %>
                    <button class="btn btn-project">
                        The motivation
                    </button>
                    <% end %>
                    <%= link_to Article.second do %>
                    <button class="btn btn-project">
                        The tech
                    </button>
                    <% end %>
                    <a href="https://github.com/ccabo1/blog">
                        <button class="btn btn-project">
                            <i class="fa fa-github" target="_blank" aria-hidden="true"></i> GitHub
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="space"></div>

        <!-- tic tac toe -->
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 project" id="project-tic-tac-toe">
                <div class="ss-wrapper">
                    <div class="desktop">
                        <div class="desktop-circles">
                            <div class="circle green"></div>
                            <div class="circle yellow"></div>
                            <div class="circle red"></div>
                        </div>
                        <div class="ss">
                            <%= image_tag 'projects/tictactoeweb.PNG' %>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="mobile-top">
                            <div class="cam"></div>
                            <div class="speaker"></div>
                        </div>
                        <div class="ss">
                            <%= image_tag 'projects/blogmobile.PNG' %>
                        </div>
                        <div class="home-wrapper">
                            <div class="home"></div>
                        </div>
                    </div>
                </div>

                <h2 class="title full-width">
                    Javascript Tic-Tac-Toe
                </h2>
                <p>
                    Recreation of the game maintaining state in Javascript. The player has the option to enable a CPU which responds to the current game state by choosing its moves to maximize winning opportunities and minimize losing opportunities. To my understanding, the CPU cannot be beat.
                </p>
                <p>
                    <strong>Technologies:</strong>
                    Javascript (jQuery), HTML5, CSS3.
                </p>
                <div class="buttons pad-top-25">
                    <a href="ccabo1.github.com/projects/tictactoe.html">
                        <button class="btn btn-project">
                            Play it here
                        </button>
                    </a>
                    <a href="https://github.com/ccabo1/tictactoe">
                        <button class="btn btn-project">
                            <i class="fa fa-github" target="_blank" aria-hidden="true"></i> GitHub
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>
    <div class="buttons">
        <%= link_to freelancing_path do %>
        <button class="btn btn-outline-primary">
            Work with me
        </button>
        <% end %>
    </div>
</div>
<div class="space"></div>
<div class="space"></div>

<script type="text/javascript">
    function resize_ss() {
        var $ss = $('.ss');
        var $desk = $('.desktop');
        var $mobile = $('.mobile');
        var space = 24;
        var width = $('.ss-wrapper').width() - 24 - space;
        var height = width / 2.752960544329101;
        $ss.height(height);
        $desk.width(height / 0.456525 + 4);
        $mobile.width(height / 1.777778 + 6);
    }

    $(document).ready(function () {
        resize_ss();
    });

    $(window).resize(function () {
        resize_ss();
    });
</script>
