<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_admin.nil? %>
        <%= link_to 'Sign Up', new_admin_registration_path %>
        <%= link_to 'Sign In', new_admin_session_path %>
    <% else %>
        <%= link_to 'Sign Out', destroy_admin_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
